body {
    background-color: transparent;
}
h1 {
    color: blue;
    text-align:center;
}
h2 {
	text-align: right;
}
p {
    color: red;
    border: 10px solid orange;
    padding: 30px;
}
#last {
	color: yellow;
}
img {
	width: 10%;
}
tr, th, td {
	border: 1px solid red;
	border-collapse: collapse;
}
tr, td {
	padding: 15px;
	text-align: center;
}
ul li a {
	color: yellow;
	font-size: 2em;
	list-style-type: none;
}
/*h3 {
	color: red;
}*/